@model Florence.SalaryCalculation


<div class="ibox-content">
    <div class="row">
        <div class="col-lg-10">

            @using (Html.BeginForm("Save", "SalaryCalculation", FormMethod.Post, new { id = "SalaryCalculationForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludedBaseSalary, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludedBaseSalary)
                            @Html.ValidationMessageFor(model => model.IncludedBaseSalary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeDeduction, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeDeduction)
                            @Html.ValidationMessageFor(model => model.IncludeDeduction, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeBonus, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeBonus)
                            @Html.ValidationMessageFor(model => model.IncludeBonus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeCommission, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeCommission)
                            @Html.ValidationMessageFor(model => model.IncludeCommission, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeAdjustment, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeAdjustment)
                            @Html.ValidationMessageFor(model => model.IncludeAdjustment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeReimbursement, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeReimbursement)
                            @Html.ValidationMessageFor(model => model.IncludeReimbursement, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeOvertime, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeOvertime)
                            @Html.ValidationMessageFor(model => model.IncludeOvertime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeProvidentFund, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeProvidentFund)
                            @Html.ValidationMessageFor(model => model.IncludeProvidentFund, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeAdvanceSalary, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeAdvanceSalary)
                            @Html.ValidationMessageFor(model => model.IncludeAdvanceSalary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeLoan, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeLoan)
                            @Html.ValidationMessageFor(model => model.IncludeLoan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IncludeInsurance, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IncludeInsurance)
                            @Html.ValidationMessageFor(model => model.IncludeInsurance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="button" id="btnSalaryCalculationSave" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
            
    </div>

</div>
           
<script>
    $(document).ready(function () {
        $("#btnSalaryCalculationSave").click(function () {
            ajaxFormSubmit(this, function (data) {
                toastr.success('Salary Calculation Setting Save Success!', 'Notification');
            });
        });
    });
</script>